.content {
  max-width: 1200px;
  padding: 40px 30px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  text-align: center;
}

.crypts {
  width: 85%;
  margin: 50px auto;

  &-header__item {
    font-size: 16px;
  }

  &__line,
  &-header {
    display: grid;
    grid-template-columns: 5% 25% 10% repeat(3, 20%);
    height: 50px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgb(175, 175, 175);
  }

  &__line {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s;

    &:hover {
      background-color: rgba(168, 168, 168, 0.15);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change {
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 110px;
    color: green;

    &_low {
      color: red;
    }
  }

  &__image {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}

.current__page {
  display: none;
}

.preloader__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skeleton {
  margin: 3px 0;

  &-pagination {
    margin-left: 10px;
  }

  &__table {
    margin: 50px auto;
    width: 85%;
  }
}

@media (max-width: 640px) {
  .crypts {
    width: 100%;

    &-header,
    &__line {
      grid-template-columns: 13% 10% 33% 19% 25%;
      font-size: 14px;
    }
  }

  .change__content {
    justify-content: center;
  }

  .adaptive {
    display: none;
  }

  .pagination {
    justify-content: center;
  }

  .current__page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;

    background-color: rgba(245, 222, 179, 0.6);
    border-radius: 3px;
  }
}
